@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;

    /* replace colors from here... */
    --light-mode-background: 157 123 144;
    --light-mode-foreground: 189 252 201;
    --light-mode-foreground-muted: 255 199 199;
    --light-mode-icon-link-background: 225 152 152;
    --light-mode-icon-link-background-hover: 121 129 147;
    --light-mode-icon-link-outline: 189 252 201;
    --light-mode-icon-link-outline-hover: 233 201 221;
    --light-mode-icon-link-text: 111 121 144;
    --light-mode-icon-link-text-hover: 189 252 201;
    --light-mode-custom-link-background: 225 152 152;
    --light-mode-custom-link-background-hover: 121 129 147;
    --light-mode-custom-link-outline: 189 252 201;
    --light-mode-custom-link-outline-hover: 233 201 221;
    --light-mode-custom-link-text: 111 121 144;
    --light-mode-custom-link-text-hover: 189 252 201;
    --dark-mode-background: 157 123 144;
    --dark-mode-foreground: 189 252 201;
    --dark-mode-foreground-muted: 255 199 199;
    --dark-mode-icon-link-background: 225 152 152;
    --dark-mode-icon-link-background-hover: 121 129 147;
    --dark-mode-icon-link-outline: 189 252 201;
    --dark-mode-icon-link-outline-hover: 233 201 221;
    --dark-mode-icon-link-text: 111 121 144;
    --dark-mode-icon-link-text-hover: 189 252 201;
    --dark-mode-custom-link-background: 225 152 152;
    --dark-mode-custom-link-background-hover: 121 129 147;
    --dark-mode-custom-link-outline: 189 252 201;
    --dark-mode-custom-link-outline-hover: 233 201 221;
    --dark-mode-custom-link-text: 111 121 144;
    --dark-mode-custom-link-text-hover: 189 252 201;
    /* ...to here */
  }

  body {
    background-color: light-dark(
      rgb(var(--light-mode-background)),
      rgb(var(--dark-mode-background))
    );
  }
}
