@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;

    /* replace colors from here... */
    --light-mode-background: 254 201 215;
--light-mode-foreground: 121 211 190;
--light-mode-foreground-muted: 57 184 154;
--light-mode-icon-link-background: 185 238 225;
--light-mode-icon-link-background-hover: 121 211 190;
--light-mode-icon-link-outline: 57 184 154;
--light-mode-icon-link-outline-hover: 255 88 131;
--light-mode-icon-link-text: 255 88 131;
--light-mode-icon-link-text-hover: 185 238 225;
--light-mode-custom-link-background: 121 211 190;
--light-mode-custom-link-background-hover: 185 238 225;
--light-mode-custom-link-outline: 255 88 131;
--light-mode-custom-link-outline-hover: 57 184 154;
--light-mode-custom-link-text: 185 238 225;
--light-mode-custom-link-text-hover: 255 88 131;
--dark-mode-background: 57 184 154;
--dark-mode-foreground: 255 145 173;
--dark-mode-foreground-muted: 254 201 215;
--dark-mode-icon-link-background: 121 211 190;
--dark-mode-icon-link-background-hover: 255 88 131;
--dark-mode-icon-link-outline: 185 238 225;
--dark-mode-icon-link-outline-hover: 254 201 215;
--dark-mode-icon-link-text: 254 201 215;
--dark-mode-icon-link-text-hover: 185 238 225;
--dark-mode-custom-link-background: 255 88 131;
--dark-mode-custom-link-background-hover: 121 211 190;
--dark-mode-custom-link-outline: 254 201 215;
--dark-mode-custom-link-outline-hover: 185 238 225;
--dark-mode-custom-link-text: 185 238 225;
--dark-mode-custom-link-text-hover: 254 201 215;
    /* ...to here */
  }

  body {
    background-color: light-dark(
      rgb(var(--light-mode-background)),
      rgb(var(--dark-mode-background))
    );
  }
}
