---
// src/components/CertRoadmapWrapper.astro
import CertificationRoadmap from './Roadmap/CertificationRoadmap.jsx';
---

<div class="certification-roadmap">
  <CertificationRoadmap client:load />
</div>